*.pro.user
.vscode
.tmp

antlr4/
!src/antlr4/
build/env/cmake-*/
build/env/grpc/
build/debug/
build/release/

conf/generated-js
conf/generated-java

Makefile
CMakeFiles/
.cmake/
*.cmake
CMakeCache.txt
compile_commands.json

test/data/

/netspeak4
/netspeak4-test

grpcwebproxy/grpcwebproxy-*
